
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Przyjęcie urodzinowe</title>
</head>
<body>
    <div> 
        <p>
            Serdecznie zapraszam na przyjęcie.<br />
        </p>
        @Html.ActionLink("Wyślij potwierdzenie", "RsvpForm")
    </div>
</body>
</html>
