@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dziękujemy</title>
</head>
<body>
    <div> 
        <h2> Dzięki, @Model.Name</h2>
        @{ 
            if(Model.WillAttend == true)
            {
               <p>Cieszymy się, ze będziesz uczestniczył w naszej imprezie! Do zobaczenia!</p>
            }
            else
            {
                <p>Przykro nam, ale dziękujemy za informację :) </p>
            }
        }
    </div>
</body>
</html>
